{%extends "layout.html"%}
{%block image%}
    <link href = "/static/images/password.png" rel = "icon" >
{%endblock%}
{%block title%}
    Add Password
{%endblock%}

{%block main%}
    <div class = "lock">
        <img src="/static/images/lock.png" alt="Lock Icon" class="lock-icon">
    </div>
    <div class = "name">
        <h1 id = "jname">Add Password</h1>
    </div>
    <div class = "pform">
        <div class = "fform">
            <form action = "/add_password" method = "POST" class = "passwordform">
                <p class = "wwwtext" id = "website">WEBSITE</p>
                <div id = "a">
                    <input type = "text" autocomplete="off" name = "website" required class = "wbs">
                </div>
                <p class = "wwwtext" id = "website">USERNAME</p>
                <div id = "a">
                    <input type = "text" autocomplete="off" name = "username" required class = "wbs">
                </div>
                <p class = "wwwtext" id = "website">PASSWORD</p>
                <div id = "a">
                    <div class = "password-wrapper">
                    <input id = "pass" type = "password" autocomplete="off" name = "password" required class = "wbs">
                     <i id = "pshow"class="fa-solid fa-eye"></i>
                     </div>
                     
                </div>
                <div id = "a">
                    <button id = "add" type = "submit">ADD</button>
                </div>

            </form>
        </div>
    </div>
    <script>
        password = document.getElementById("pass")
        btn = document.getElementById("pshow");
        btn.addEventListener("mouseenter",function(){
            password.type = "text";
        })
        btn.addEventListener("mouseleave",function(){
            password.type = "password";
        })
    </script>
{%endblock%}