{% extends "layout.html"%}

{%block image%}
    <link href = "/static/images/lock.png" rel="icon">
{%endblock%}

{%block title%}
    Saved Passwords
{%endblock%}

{%block main%}
<div class = "hello">
    <h1 id = "sp">SAVED PASSWORDS</h1>
    <div class ="tb">
    <table class = "tbbbb" id = "tbb">
        <thead>
            <tr id = "tth">
                <th>WEBSITE</th>
                <th>USERNAME</th>
                <th>PASSWORD</th>
            </tr>
        </thead>
        <tbody >
            {% for row in passwords %}
                <tr >
                    <td class = "tbb">{{row.website}}</td>
                    <td class = "tbb">{{row.username}}</td>
                    
                    <td class = "tbb"><input type = "password" class ="pfield" value = "{{row.password}}" readonly</td>
                    <button class= "shwbutton">View</button>
                </tr>
            {%endfor%}
        </tbody>
    </table>
    </div>
</div>    
    <Script>
        password = document.querySelectorAll(".pfield");
        btn = document.querySelectorAll(".shwbutton").forEach((button,index)=>{
            button.addEventListener("click",()=>{
                const pass = button.previousElementSibling;
                if(pass.type ==="password"){
                    pass.type = "text";
                    button.innerTEXT = "Hide";
                }
                else{
                    pass.type = "password";
                    button.innerTEXT = "Show";
                }
            })
        })
        
    </Script>
{%endblock%}